*{
    margin: 0;
    padding: 0;
}
header{
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    text-align: center;   
}   
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/images/aboutpics.jpg);
} 
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    width: auto;
}
.navbar-brand img{
    height: 40px;
    padding-left: 0px;
}
.navbar-nav li{
    padding: 0 10px; 
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    color: #007bff! important;
}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
.navbar-right{
    float: right;
    list-style: none;
    margin-top: 18px;
}
.navbar-right li{
    display: inline-block;
}
.navbar-right li a{
    color: Black;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 20px;
}
footer{
    background-color: moccasin;
    width: auto;
    top: 40%;
    left: 40%;
    text-align: center;
    margin-top: 450px;
}
.card-footer small{
    font-family: Century gothic;
    color: black;
}

.text-muted{
    margin-left: 0px;
    color: white;
}
.content p{
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 200;
}
.about p{
    text-align: center;
    padding: 20;
    font-family: sans-serif;
}
.info h2{
    padding: 10 0px;
    color: white;
    text-decoration: underline;
    text-align: center;
}
.card{
    font-size: 12px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    background: #fff;
    width: 200px;
    height: 280px;
    float: left;
    margin: 5%;
    position: center;
    transition: .6s ease-out;
    left: 23%;
}