*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: left;
}
.form-group{ 
    font-family: century gothic;
}
header{
    background-image: url(/images/2808905-01.jpg);
    height: 100vh;
    background-size: cover;
    background-position: left;
    text-align: left;
    background-attachment: fixed;
}
.content{
    width: 275px;
    position: absolute;
    top: 15%;
    left: 15%;
    color: white;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img{
    height: 40px;
    padding-left: 0px;
}
.navbar-nav li{
    padding: 0 10px; 
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    color: #007bff! important;
}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
.navbar-right{
    float: right;
    list-style: none;
    margin-top: 18px;
}
.navbar-right li{
    display: inline-block;
}
.navbar-right li a{
    color: Black;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 20px;
}
.form-control{
    border: none;
    outline: none;
    color: transparent;
    text-align: center;
    margin: 0px;
    padding: 20px;
}
.form-control:hover{
    background-color: white;
    transition: all 0.5s ease-in; 
}
.form-check-label{
    color: white;
    background: none;
}
.textbox input{
    border: 1px solid white;
    color: black;
    padding: 5px 25px;
    text-decoration: none;
    margin-right: 5px;
    text-align: center;
    font-size: 13px;
}
.contact-title{
    margin-top: 80px;
    color: purple;
    text-transform: uppercase;
    text-align: center;
}
.contact-title h1{
    font-size: 40px;
    line-height: 10px;
    padding: 10 0px;
}
.contact-title h2{
    font-size: 17px;
}
.textarea{
    background-color: none;
    border: none;
    font-display: black;
}
footer{
    background-color: moccasin;
    width: auto;
    top: 40%;
    left: 40%;
    text-align: center;
}
button{
    position: center;
}