*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/images/restaurant-01.jpg);;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    padding: 40px 100px;
}
.card{
    font-size: 10px;
    text-align: center;
    position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    background: #fff;
    width: 200px;
    height: 300px;
    float: left;
    margin: 50 20px;
    left: 70px;
    position: relative;
    display: flex;
    transition: .6s ease-out;
}
.card:hover {
    -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}
h5{
    font-size: 8px;
}
h5 b{
    font-size: 16px;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img{
    height: 40px;
    padding-left: 0px;
}
.navbar-nav li{
    padding: 0 10px; 
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    color: #007bff! important;
}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
.navbar-right{
    float: right;
    list-style: none;
    margin-top: 18px;
}
.navbar-right li{
    display: inline-block;
}
.navbar-right li a{
    color: Black;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 20px;
}
.text-muted{
    color: white;
}
footer{
    background-color: moccasin;
    width: auto;
    top: 40%;
    left: 40%;
    text-align: center;
    margin-top: 900px;
}
.card-footer small{
    font-family: Century gothic;
    color: black;
}
.card:hover{
    transform: translateY(06px);    
}
.card:hover:before{
    opacity: 0;
}
.card:hover .img-text{
    opacity: 1;
    transform: translateY(0);
    background: linear-gradient(to left, black, transparent);
}
.card:before{
    content: '';
    position: absolute;
    top: -200;
    left: 0;
    background: linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}
.card .img-text{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.5;
}
.img-text{
    margin-top: -150px;
}
.card-text{
    margin-top: 80px;
    font-size: 10px;
}
p{
    font-size: 13px;
}

.btn{
    margin-top: -35px;
    font-size: 8px;
}
.card-body{
    top: 25%;
    left: 50%;
    transform: translate(0%, -20%);
}
.card-body select{
    padding: 8px 10px;
    width: 100px;
    font-size: 13px;
}